attrs
beautifulsoup4
blinker
certifi
cffi
charset-normalizer
click
colorama
Flask
Flask-Assets
h11
idna
iniconfig
itsdangerous
Jinja2
libsass
MarkupSafe
numpy
outcome
packaging
pandas
pip-chill
pluggy
pycparser
Pygments
PySocks
pytest
python-dateutil
python-dotenv
pytz
PyYAML
requests
selenium
setuptools
six
sniffio
sortedcontainers
soupsieve
trio
trio-websocket
typing_extensions
tzdata
urllib3
webassets
webdriver-manager
websocket-client
Werkzeug
wsproto
zope.dottedname
