:root {
    --navy: #003366;
    --maroon: #8B0000;
    --dm: #4e0a0a;
    --lp: #dbc1c1;
    --bb: #bbd3de;
    --bb2: #d3e5ed;
    --dg: #232323;
    --lg: #f4f4f4;
    --mg: #eeeeee;
    --text: #333;
    
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;

    .header {
        max-height: 15vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 3vh 0vw 3vh 0vw;
        background-color: var(--lp);

        .title {
            margin: 0;
            padding-bottom: 1.5vh;
            font-size: 4vh;
            text-align: center;
            /* color: #4e0a0a; */
            /* color: #2f0202; */
            color: #072747;

        }

        .nav-bar {
            display: flex;
            flex-direction: row;
            gap: 3vw;

            a {
                font-size: 2.3vh;
                text-decoration: underline;
                color: var(--navy);
                font-weight: 500;
            }

            a:hover {
                color: var(--maroon);
            }
        }
    }
}