:root {
    --navy: #003366;
    --maroon: #8B0000;
    --lp: #dbc1c1;
    --dm: #4e0a0a;
    --bb: #bbd3de;
    --bb2: #d3e5ed;
    --dg: #232323;
    --lg: #f4f4f4;
    --mg: #eeeeee;
    --w: #ffffff;
    --text: #333;
}

body {
    .map-container {

        gmp-map {
            height: 85vh;
            width: 100vw;
        }
        .popup {
            display: none;
            position: fixed;
            bottom: 9vh;
            left: 5vw;
            background: linear-gradient(180deg, var(--bb2), var(--mg)); 

            padding: 1.5vh 8vw 1.5vh 1.5vw;
            z-index: 1000;

            .popup-content {
                line-height: 1.6;
                h3 {
                    color: var(--navy);
                    font-size: 2.4vh;
                    font-weight: 700;
                    margin-bottom: 2vh;
                }
                .wj {
                    font-size: 2vh;
                    color: var(--dm);
                    margin-bottom: 1vh;
                }

                .workjob-link {
                    font-size: 1.9vh;
                    color: var(--text);
                    cursor: pointer;
                    margin-bottom: 1vh;

                }

                .workjob-link:hover {
                    color: var(--maroon);
                }
            }

            .close {
                margin: 2vh 0vw;
                padding: 1vh 1vw;
                border: none;
                background: var(--lp);

                border-radius: 6px;
                cursor: pointer;
                color: var(--dm);
                font-size: 1.6vh;
                font-weight: 500;
            }

        }

        /* big poppup */
        .workjob-detail { 
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: var(--w);
            padding: 3vh 2vw;
            z-index: 10000;
            max-width: 60vw;
            max-height: 80vh;
            overflow-y: auto;

            .workjob-tabs {
                display: flex;
                flex-wrap: wrap;
                gap: 0.7vw;
                margin-bottom: 3vh;
                /* margin: 1vh 0 3vh 0; */
                button {
                    background-color: var(--bb2);
                    color: var(--navy);
                    border: none;
                    padding: 1vh 1.2vh;
                    font-size: 1.5vh;
                    font-weight: 600;
                    border-radius: 8px; 
                    cursor: pointer;
                    transition: all 0.2s ease;
                }

                button:hover {
                    transform: translateY(-1px);
                }

                button:active {
                    transform: translateY(0);
                    opacity: 0.9;
                }
            }

            .workjob-title {
                color: var(--dg);
                font-size: 2vh;
                font-weight: 700;
                margin-bottom: 2vh;
            }

            
            .workjob-info {
                margin: 1.25vh 0;
                color: var(--text);
                font-size: 1.7vh;

                strong {
                    color: var(--dm);
                }
            }

            .workjob-description {
                margin-top: 2vh;
                padding-top: 2vh;
                border-top: 1px solid var(--navy);
                color: var(--text);
                font-size: 1.7vh;
            }
            .close2 {
                margin: 2vh 0vw 0vh 0vw;
                padding: 1vh 1vw;
                border: none;
                background: var(--lp);

                border-radius: 6px;
                cursor: pointer;
                color: var(--dm);
                font-size: 1.6vh;
                font-weight: 500;
            }
        }
    }
}
