:root {
    --navy: #003366;
    --maroon: #8B0000;
    --dm: #4e0a0a;
    --lp: #e7cbcb;
    --bb: #bbd3de;
    --bb2: #d3e5ed;
    --dg: #232323;
    --lg: #f4f4f4;
    --mg: #eeeeee;
    --text: #333;
    background-color: var(--mg);

}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;

    .resources-container {
        margin-top: 9vh;

        .resources-header {
            background: linear-gradient(180deg, var(--bb) 0%, var(--mg) 96%); 

            padding: 4.5vh;
            margin: 5vh 8vw 2vh 8vw;
            text-align: center;

            h1 {
                font-weight: 700;
                color: var(--navy);
                font-size: 2.8vh;
                margin: 0;
            }
        }

        .resources-section {
            margin: 2vh 0vw;

            .resources-section-title {
                text-align: center;
                font-size: 2.5vh;
                font-weight: 600;
                color: var(--dg);
                margin: 7.5vh 0 0 0;
            }


            .resources-grid {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 2vw;
                padding: 1.25rem;
                max-width: 75rem;
                margin: 0 auto;

                .resource-card {
                    background-color: white;
                    border-radius: 8px;
                    padding: 4vh;
                    display: flex;
                    flex-direction: column;
                    gap: 0.75rem;


                    .resource-title {
                        color: var(--navy);
                        font-size: 2vh;
                        font-weight: bold;
                        text-decoration: underline;
                        margin: 0;
                    }

                    .resource-title:hover {
                        color: var(--maroon);
                    }


                    .resource-description {
                        color: var(--text);
                        font-size: 1.75vh;
                        line-height: 1.6;
                        margin: 0;
                    }
                }
            }
        }

        footer {
            margin-top: 5vh;       
            text-align: center;
            font-size: 1.7vh;
            color: #666;
        }

    }
}
