body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .header {
        display: flex;
        flex-direction: column;
        .nav-bar {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }
}