$navy: #003366;
$maroon: #8B0000;

body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

.header {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    border-bottom: 1px solid black;
    padding: 2vh 1vw;
    background-color: white;
    position: relative;
    z-index: 100;
    align-items: center;
}

.title {
    margin: 0 0 10px 0;
    padding: 0;
    font-size: 24px;
    text-align: center;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    gap: 20px;

    a {
        text-decoration: underline;
        color: $navy;

        &:hover {
            color: $maroon;
        }
    }
}

.login-section {
    position: absolute;
   .login-button {
        padding: 1vh 2vw;
        border-radius: 8px;
        border: none;
        background-color: $navy;
        color: white;
        &:hover {
            background-color: $maroon;
        }
   } 
   
   top: 2.5vh; 
   right: 4vw;
}