$navy: #003366;
$maroon: #8B0000;

.page-center {
  display: flex;
  align-items: center;     
  justify-content: center; 
  height: 80vh;    
}

.home-container {
  
  padding: 40px 20px;
  width: 70vw;
  text-align: center;
  background: #f4f4f4;
  border-radius: 8px;

  h1 {
    font-size: 32px;
    margin-bottom: 20px;
    font-weight: 700;
    color: $navy;
  }

  h2 {
    font-size: 28px;
    margin-bottom: 20px;
    font-weight: 500;
    color: $navy;
  }

  p {
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    margin-bottom: 15px;
  }

  .guide {
    margin-top: 30px;
    text-align: left;
    padding-left: 5vw;

    .desc {
      font-weight: 600;
      color: $maroon;
      margin-bottom: 10px;
    }

    ul {
      list-style-type: disc;
      padding-left: 20px;

      li {
        margin-bottom: 8px;
        font-size: 15px;
        color: #333;
      }
    }
  }
}