.resources-container {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    * {
        box-sizing: border-box;
    }
}

.resources-header {
    background-color: #ededed;
    padding: 3vh;
    margin: 5vh 8vw 2vh 8vw;
    text-align: center;

    h1 {
        color: #000;
        margin: 0;
        font-weight: normal;
        font-size: 1.5rem;
        font-family: Arial, sans-serif;
        font-weight: normal;
    }
}

<<<<<<< HEAD
=======
.resources-section {
    margin: 2rem 0;
}

.resources-section-title {
    text-align: center;
    font-size: 1rem;
    font-weight: 300;
    color: #000;
    margin: 7vh 0vh 0vh 0vh;
}

>>>>>>> fa5228f (ui fixes, login btn)
.resources-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.25rem;
    padding: 1.25rem;
    max-width: 75rem;
    margin: 0 auto;
}

.resource-card {
    background-color: #fff;
    padding: 1.25rem;
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.resource-title {
    color: #0000ee;
    font-size: 1.125rem;
    font-weight: bold;
    text-decoration: underline;
    margin: 0;

    &:hover {
        color: #551a8b;
    }

    &:visited {
        color: #551a8b;
    }
}

.resource-description {
    color: #000;
    font-size: 0.875rem;
    line-height: 1.5;
    margin: 0;
}

.page-footer {
    text-align: center;
    color: #666;
    font-size: 0.875rem;
}