<div class="scene-bg" aria-hidden="true">
    <div class="scene-bg__art">
        <img src="{{ url_for('static', filename='images/campus-scene.webp') }}" alt="" class="scene-img">
    </div>
    <div class="scene-bg__haze"></div>
    <div class="scene-bg__leaves">
        <span class="leaf leaf--1"></span>
        <span class="leaf leaf--2"></span>
        <span class="leaf leaf--3"></span>
        <span class="leaf leaf--4"></span>
        <span class="leaf leaf--5"></span>
        <span class="leaf leaf--6"></span>
        <span class="leaf leaf--7"></span>
        <span class="leaf leaf--8"></span>
        <span class="leaf leaf--9"></span>
        <span class="leaf leaf--10"></span>
    </div>
</div>
