<html>
    <head>
        <title>{% block title %}NMH-Navigator{% endblock %}</title>

        {% assets "scss_all" %}
            <link rel="stylesheet" href="{{ ASSET_URL }}" />
        {% endassets %}

        {% block extra %}{% endblock %}
    </head>
    <body>
        <header class="header">
            <h1 class="title">NMH-Navigator</h1>
            <nav class="nav-bar">
                <a href="/">Home</a>
                <a href="/map">Campus Map</a>
                <a href="/classes">Classes</a>
                <a href="/workjobs">Workjobs</a>
                <a href="/resources">Resources</a>
                <a href="/cocurriculars">Cocurriculars</a>
            </nav>
            <div class="login-section">
                <a href="/login">
                    <button class="login-button">Login</button>
                </a>
            </div>
        </header>
        {% block body %}{% endblock %}
    </body>
</html>