{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block body %}
<div class="page-center">
  <div class="home-container">
      <h1>Welcome to NMH-Navigator</h1>
      <p>Your guide to navigating the campus and finding workjobs.</p>

      <div class="guide">
          <p class="desc">Here’s what you can do with NMH-Navigator:</p>
          <ul>
              <li>Explore all campus workjobs by clicking on each building in the map view!</li>
              <li>View a catalog of classes, cocurriculars, and workjobs</li>
              <li>Search for opportunities through the search functions in each catalog page</li>
              <li>Filter through classes based on subject, code, etc.</li>
              <li>View and add reviews for each class, workjob, and cocurricular if you are logged into an NMH account</li>
              <li>View more important campus resources, such as Hogger News live!</li>
          </ul>
      </div>
  </div>
</div>
{% endblock %}
