<html>
<head>
    <title>Login</title>
    {% assets "scss_all" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}" />
    {% endassets %}
</head>
<body>
    <div class="login_page">
        <div class="login_card">
            <h1 class="login_account">Log in to your account to learn more about NMH!</h1>
            <p class="login_note">Only NMH users can login.</p>
            <p class="login_description">
                Navigate workjobs, classes, and campus resources.
            </p>

            <a href="{{ url_for('login') }}" class="login_button">
                Sign in with Google
            </a>
            <a href="/" class="goback">
                Home
            </a>
        </div>
    </div>
</body>
</html>